QMainWindow 
{
color: white;
background-color: #232323;
}

QWidget
{
font-family: Arial;
color: white;
background-color: #232323;
}




QLineEdit
{
color: #ffffff;
background-color: #444444;
border: none;
}





/*   Header  */

#Logo
{
background-image: url('/home/stu/test3/logo5.png');
background-repeat: none; 
background-position: center;
}
#labelHeaderBalance
{
font: 16pt;
background-color: #232323;
color: white;
border: 1px solid #ff1a00;
qproperty-alignment: AlignCenter;
}




/*    Toolbar    */

#toolbarwidget
{
background-color: #232323;
}





/* OverviewPage (MENU) buttons)   */

#bover
{
font: 12pt;
background-color: #323232;
color: #ffffff;
border: none;
background-image: url('/home/stu/test3/menu3.png');
}
#bover:hover
{
background-color: #444444;
}

#btx
{
font: 12pt;
background-color: #323232;
color: #ffffff;
border: none;
}
#btx:hover
{
background-color: #444444;
}

#bsend
{
font: 12pt;
background-color: #323232;
color: #ffffff;
border: none;
}
#bsend:hover
{
background-color: #444444;
}

#brec
{
font: 12pt;
background-color: #323232;
color: #ffffff;
border: none;
}
#brec:hover
{
background-color: #444444;
}

#brec
{
font: 12pt;
background-color: #323232;
color: #ffffff;
border: none;
}
#brec:hover
{
background-color: #444444;
}

#bos1
{
font: 12pt;
background-color: #323232;
color: #ffffff;
border: none;
}
#bos1:hover
{
background-color: #444444;
}

#bos2
{
font: 12pt;
background-color: #323232;
color: #ffffff;
border: none;
}
#bos2:hover
{
background-color: #444444;
}






QPushButton
{
color: white;
background-color: #323232;
border: none;
}
QPushButton:hover
{
color: white;
background-color: #444444;
border: none;
}















